Body digest not verified

It seems that changing the body, even when there is a `Content-Digest:` in the signed headers, does not invalidate the signature.  

That's correct, as explained in RFC9421 §7.2.8 (https://www.rfc-editor.org/rfc/rfc9421.html#name-message-content) you have to validate the hash of the body separately from the signature. This tool doesn't calculate or verify the hash as it's not directly related to the signature, but I'd welcome a PR to add such functions here.